body{
    background-color: skyblue;
}
button{
    background-color: skyblue;
    border: 0;
}
.heading{
    color: navy;
    text-align: center;
    font-size: 50px;
}
.Reset{
    font-size: 25px;
    background-color: #5b3c1e;
    color: white;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    
}
.Reset:hover{
    box-shadow: #5b3c1e;
}
.RPS{
    margin-left: 100px;
}
.Paper{
    margin-left: 350px;
}
.Scissors{
    margin-left: 300px;
}
.ScoreBoard{
    background-color: darkkhaki;
    border: 5px solid blueviolet;
    border-radius: 20px;
    width: 30%;
    float: right;
    margin-top: -330px;
    height: 80vh;
    text-align: center;
    font-size: 25px;
}
.ScoreBoard h2{
    font-size: 35px;
    margin-bottom: 50px;
}
#id1{
    margin-bottom: 50px;
}